#  Mortgage Performance

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Performance column names
per_colms= ["LoanIdentifier","MonthlyReportingPeriod","LoanAge","RemainingMonthstoMaturity","AdjustedMonthstoMaturity",
            "MaturityDate", "MetropolitanStatisticalAreaMSA","CurrentLoanDelinquencyStatus",
            "ForeclosureDate"];

In [3]:
# data2015Q1= pd.read_csv('PerFil_2015Q1.txt', sep="|", header=None, names=per_colms)
# data2015Q2= pd.read_csv('PerFil_2015Q2.txt', sep="|", header=None, names=per_colms)
# data2015Q3= pd.read_csv('PerFil_2015Q3.txt', sep="|", header=None, names=per_colms)
# data2015Q4= pd.read_csv('PerFil_2015Q4.txt', sep="|", header=None, names=per_colms)
# data2016Q1= pd.read_csv('PerFil_2016Q1.txt', sep="|", header=None, names=per_colms)
# data2016Q2= pd.read_csv('PerFil_2016Q2.txt', sep="|", header=None, names=per_colms)
# data2016Q3= pd.read_csv('PerFil_2016Q3.txt', sep="|", header=None, names=per_colms)
# data2016Q4= pd.read_csv('PerFil_2016Q4.txt', sep="|", header=None, names=per_colms)
# data2017Q1= pd.read_csv('PerFil_2017Q1.txt', sep="|", header=None, names=per_colms)
# data2017Q2= pd.read_csv('PerFil_2017Q2.txt', sep="|", header=None, names=per_colms)
# data2017Q3= pd.read_csv('PerFil_2017Q3.txt', sep="|", header=None, names=per_colms)
# data2017Q4= pd.read_csv('PerFil_2017Q4.txt', sep="|", header=None, names=per_colms)
data2018Q1= pd.read_csv('PerFil_2018Q1.txt', sep="|", header=None, names=per_colms)
data2018Q2= pd.read_csv('PerFil_2018Q2.txt', sep="|", header=None, names=per_colms)
data2018Q3= pd.read_csv('PerFil_2018Q3.txt', sep="|", header=None, names=per_colms)

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Concatenate Years

In [4]:
# per_data= pd.concat([data2015Q1, data2015Q2, data2015Q3, data2015Q4])
# per_data= pd.concat([data2016Q1, data2016Q2, data2016Q3, data2016Q4])
# per_data= pd.concat([data2017Q1, data2017Q2, data2017Q3, data2017Q4])
per_data= pd.concat([data2018Q1, data2018Q2, data2018Q3])
per_data.head()

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
0,100022479643,01/01/2018,1,359,358.0,12/2047,12580,0,NaN
1,100022479643,02/01/2018,2,358,357.0,12/2047,12580,0,NaN
2,100022479643,03/01/2018,3,357,356.0,12/2047,12580,0,NaN
3,100022479643,04/01/2018,4,356,355.0,12/2047,12580,0,NaN
4,100022479643,05/01/2018,5,355,355.0,12/2047,12580,0,NaN

In [5]:
#Check Data Types
per_data.dtypes

LoanIdentifier                      int64
MonthlyReportingPeriod             object
LoanAge                             int64
RemainingMonthstoMaturity           int64
AdjustedMonthstoMaturity          float64
MaturityDate                       object
MetropolitanStatisticalAreaMSA      int64
CurrentLoanDelinquencyStatus       object
ForeclosureDate                    object
dtype: object

In [6]:
#Check NaNs
per_data.isna().sum()

LoanIdentifier                          0
MonthlyReportingPeriod                  0
LoanAge                                 0
RemainingMonthstoMaturity               0
AdjustedMonthstoMaturity              147
MaturityDate                            0
MetropolitanStatisticalAreaMSA          0
CurrentLoanDelinquencyStatus           29
ForeclosureDate                   4685888
dtype: int64

In [7]:
# If loan defaulted = 1, otherwise = 0
per_data['ForeclosureDate'].fillna(0, inplace=True)
per_data.loc[per_data.ForeclosureDate!=0, 'ForeclosureDate']=1
#Comfirm Values are 0,1
per_data['ForeclosureDate'].unique()
#Convert data type to interger
per_data['ForeclosureDate'] = per_data['ForeclosureDate'].astype(int)
#Count the number of records where Foreclosure =1
per_data[(per_data['ForeclosureDate']==1)].count()

LoanIdentifier                    27
MonthlyReportingPeriod            27
LoanAge                           27
RemainingMonthstoMaturity         27
AdjustedMonthstoMaturity          27
MaturityDate                      27
MetropolitanStatisticalAreaMSA    27
CurrentLoanDelinquencyStatus       0
ForeclosureDate                   27
dtype: int64

In [8]:
#Fill NaN with 0 for delinquency
per_data['CurrentLoanDelinquencyStatus'].fillna(0, inplace=True)

In [9]:
#Check Foreclosed Values
#pd.set_option('display.max_rows',700)
per_data[(per_data.ForeclosureDate==1)]

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
25410,113708792510,05/01/2019,18,342,0.0,11/2047,17460,0,1
110765,159787643799,12/01/2018,9,351,0.0,03/2048,31540,0,1
287872,254387135910,04/01/2019,13,347,0.0,03/2048,0,0,1
591509,414799369545,06/01/2019,16,344,0.0,02/2048,0,0,1
691872,468595848438,06/01/2019,17,343,0.0,01/2048,25620,0,1
801067,527056047566,10/01/2018,6,354,0.0,04/2048,40340,0,1
854615,556161147665,03/01/2019,15,345,0.0,12/2047,33740,0,1
878173,568762030230,06/01/2019,17,343,0.0,01/2048,23060,0,1
1171133,727403930211,05/01/2019,14,346,0.0,03/2048,22020,0,1
1248243,768455311804,01/01/2019,12,348,0.0,01/2048,27100,0,1
1291322,791158299730,05/01/2019,14,346,0.0,03/2048,40900,0,1
1359237,826742751896,05/01/2019,14,346,0.0,03/2048,16940,0,1
1370771,833073205396,07/01/2018,7,173,0.0,12/2032,43340,0,1
1432112,865963521548,01/01/2019,12,348,0.0,01/2048,0,0,1
1542309,924915721949,04/01/2019,15,345,0.0,01/2048,26420,0,1
13096,108502298074,06/01/2019,16,344,0.0,02/2048,17980,0,1
28309,118760416808,01/01/2019,8,172,0.0,05/2033,0,0,1
35688,123893085380,05/01/2019,12,348,0.0,05/2048,0,0,1
116086,176000924664,03/01/2019,9,351,0.0,06/2048,0,0,1
647669,526903628184,06/01/2019,14,346,0.0,04/2048,0,0,1
700086,561976082705,03/01/2019,10,350,0.0,05/2048,15180,0,1
789473,620441500628,06/01/2019,14,346,0.0,04/2048,17140,0,1
863939,669096477508,03/01/2019,11,349,0.0,04/2048,26900,0,1
904763,695005022785,04/01/2019,10,350,0.0,06/2048,20260,0,1
1065806,800693484442,02/01/2019,10,350,0.0,04/2048,21340,0,1
1096649,820266026615,05/01/2019,11,349,0.0,06/2048,0,0,1
1279672,939689645379,04/01/2019,11,349,0.0,05/2048,0,0,1

In [10]:
#Check number of foreclosures
per_data['ForeclosureDate'].sum()

27

In [11]:
#Mark Delinquency as D when Foreclosure is True
mask= (per_data['ForeclosureDate']==1)
per_data['CurrentLoanDelinquencyStatus'][mask]='D'

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
#Check Foreclosed and delinquency
per_data[(per_data.ForeclosureDate==1)]
#Check Delinquency = D
per_data[(per_data.CurrentLoanDelinquencyStatus=='D')]

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
25410,113708792510,05/01/2019,18,342,0.0,11/2047,17460,D,1
110765,159787643799,12/01/2018,9,351,0.0,03/2048,31540,D,1
287872,254387135910,04/01/2019,13,347,0.0,03/2048,0,D,1
591509,414799369545,06/01/2019,16,344,0.0,02/2048,0,D,1
691872,468595848438,06/01/2019,17,343,0.0,01/2048,25620,D,1
801067,527056047566,10/01/2018,6,354,0.0,04/2048,40340,D,1
854615,556161147665,03/01/2019,15,345,0.0,12/2047,33740,D,1
878173,568762030230,06/01/2019,17,343,0.0,01/2048,23060,D,1
1171133,727403930211,05/01/2019,14,346,0.0,03/2048,22020,D,1
1248243,768455311804,01/01/2019,12,348,0.0,01/2048,27100,D,1
1291322,791158299730,05/01/2019,14,346,0.0,03/2048,40900,D,1
1359237,826742751896,05/01/2019,14,346,0.0,03/2048,16940,D,1
1370771,833073205396,07/01/2018,7,173,0.0,12/2032,43340,D,1
1432112,865963521548,01/01/2019,12,348,0.0,01/2048,0,D,1
1542309,924915721949,04/01/2019,15,345,0.0,01/2048,26420,D,1
13096,108502298074,06/01/2019,16,344,0.0,02/2048,17980,D,1
28309,118760416808,01/01/2019,8,172,0.0,05/2033,0,D,1
35688,123893085380,05/01/2019,12,348,0.0,05/2048,0,D,1
116086,176000924664,03/01/2019,9,351,0.0,06/2048,0,D,1
647669,526903628184,06/01/2019,14,346,0.0,04/2048,0,D,1
700086,561976082705,03/01/2019,10,350,0.0,05/2048,15180,D,1
789473,620441500628,06/01/2019,14,346,0.0,04/2048,17140,D,1
863939,669096477508,03/01/2019,11,349,0.0,04/2048,26900,D,1
904763,695005022785,04/01/2019,10,350,0.0,06/2048,20260,D,1
1065806,800693484442,02/01/2019,10,350,0.0,04/2048,21340,D,1
1096649,820266026615,05/01/2019,11,349,0.0,06/2048,0,D,1
1279672,939689645379,04/01/2019,11,349,0.0,05/2048,0,D,1

In [13]:
#Choose a loan from above kernel to see how default data plays out
per_data[(per_data.LoanIdentifier==768455311804)]

Empty DataFrame
Columns: [LoanIdentifier, MonthlyReportingPeriod, LoanAge, RemainingMonthstoMaturity, AdjustedMonthstoMaturity, MaturityDate, MetropolitanStatisticalAreaMSA, CurrentLoanDelinquencyStatus, ForeclosureDate]
Index: []

In [14]:
#Check NANs
per_data.isna().sum()

LoanIdentifier                      0
MonthlyReportingPeriod              0
LoanAge                             0
RemainingMonthstoMaturity           0
AdjustedMonthstoMaturity          147
MaturityDate                        0
MetropolitanStatisticalAreaMSA      0
CurrentLoanDelinquencyStatus        0
ForeclosureDate                     0
dtype: int64

In [15]:
per_data['AdjustedMonthstoMaturity'].fillna(0, inplace=True)

In [16]:
per_data.isnull().sum()

LoanIdentifier                    0
MonthlyReportingPeriod            0
LoanAge                           0
RemainingMonthstoMaturity         0
AdjustedMonthstoMaturity          0
MaturityDate                      0
MetropolitanStatisticalAreaMSA    0
CurrentLoanDelinquencyStatus      0
ForeclosureDate                   0
dtype: int64

In [17]:
#change dtypes for size
per_data['LoanAge']=pd.to_numeric(per_data['LoanAge'], errors='coerce').astype(np.int32)
per_data['RemainingMonthstoMaturity']=pd.to_numeric(per_data['RemainingMonthstoMaturity'], errors='coerce').astype(np.int32)
per_data['AdjustedMonthstoMaturity']=pd.to_numeric(per_data['AdjustedMonthstoMaturity'], errors='coerce').round().astype(np.int32)
per_data['MetropolitanStatisticalAreaMSA']=pd.to_numeric(per_data['MetropolitanStatisticalAreaMSA'], errors='coerce').astype(np.int32)
per_data['CurrentLoanDelinquencyStatus']=pd.Categorical(per_data['CurrentLoanDelinquencyStatus'], ordered=True)

In [18]:
per_data.dtypes

LoanIdentifier                       int64
MonthlyReportingPeriod              object
LoanAge                              int32
RemainingMonthstoMaturity            int32
AdjustedMonthstoMaturity             int32
MaturityDate                        object
MetropolitanStatisticalAreaMSA       int32
CurrentLoanDelinquencyStatus      category
ForeclosureDate                      int32
dtype: object

In [19]:
per_data

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
0,100022479643,01/01/2018,1,359,358,12/2047,12580,0,0
1,100022479643,02/01/2018,2,358,357,12/2047,12580,0,0
2,100022479643,03/01/2018,3,357,356,12/2047,12580,0,0
3,100022479643,04/01/2018,4,356,355,12/2047,12580,0,0
4,100022479643,05/01/2018,5,355,355,12/2047,12580,0,0
5,100022479643,06/01/2018,6,354,354,12/2047,12580,0,0
6,100022479643,07/01/2018,7,353,352,12/2047,12580,0,0
7,100022479643,08/01/2018,8,352,352,12/2047,12580,0,0
8,100022479643,09/01/2018,9,351,351,12/2047,12580,0,0
9,100022479643,10/01/2018,10,350,350,12/2047,12580,0,0
10,100022479643,11/01/2018,11,349,348,12/2047,12580,0,0
11,100022479643,12/01/2018,12,348,347,12/2047,12580,0,0
12,100022479643,01/01/2019,13,347,346,12/2047,12580,0,0
13,100022479643,02/01/2019,14,346,345,12/2047,12580,0,0
14,100022479643,03/01/2019,15,345,345,12/2047,12580,0,0
15,100022479643,04/01/2019,16,344,344,12/2047,12580,0,0
16,100022479643,05/01/2019,17,343,342,12/2047,12580,0,0
17,100022479643,06/01/2019,18,342,342,12/2047,12580,0,0
18,100025472182,03/01/2018,2,358,357,01/2048,45220,0,0
19,100025472182,04/01/2018,3,357,356,01/2048,45220,0,0
20,100025472182,05/01/2018,4,356,355,01/2048,45220,0,0
21,100025472182,06/01/2018,5,355,354,01/2048,45220,0,0
22,100025472182,07/01/2018,6,354,353,01/2048,45220,0,0
23,100025472182,08/01/2018,7,353,352,01/2048,45220,0,0
24,100025472182,09/01/2018,8,352,352,01/2048,45220,0,0
25,100025472182,10/01/2018,9,351,351,01/2048,45220,0,0
26,100025472182,11/01/2018,10,350,349,01/2048,45220,0,0
27,100025472182,12/01/2018,11,349,348,01/2048,45220,0,0
28,100025472182,01/01/2019,12,348,347,01/2048,45220,0,0
29,100025472182,02/01/2019,13,347,346,01/2048,45220,0,0
...,...,...,...,...,...,...,...,...,...
1632114,999993109200,11/01/2018,4,356,355,07/2048,38300,0,0
1632115,999993109200,12/01/2018,5,355,354,07/2048,38300,0,0
1632116,999993109200,01/01/2019,6,354,353,07/2048,38300,0,0
1632117,999993109200,02/01/2019,7,353,352,07/2048,38300,0,0
1632118,999993109200,03/01/2019,8,352,351,07/2048,38300,0,0
1632119,999993109200,04/01/2019,9,351,350,07/2048,38300,0,0
1632120,999993109200,05/01/2019,10,350,345,07/2048,38300,0,0
1632121,999993109200,06/01/2019,11,349,344,07/2048,38300,0,0
1632122,999994412360,09/01/2018,0,360,360,09/2048,19740,0,0
1632123,999994412360,10/01/2018,1,359,359,09/2048,19740,0,0
1632124,999994412360,11/01/2018,2,358,358,09/2048,19740,0,0
1632125,999994412360,12/01/2018,3,357,356,09/2048,19740,0,0
1632126,999994412360,01/01/2019,4,356,356,09/2048,19740,0,0
1632127,999994412360,02/01/2019,5,355,355,09/2048,19740,0,0
1632128,999994412360,03/01/2019,6,354,354,09/2048,19740,0,0
1632129,999994412360,04/01/2019,7,353,353,09/2048,19740,0,0
1632130,999994412360,05/01/2019,8,352,352,09/2048,19740,0,0
1632131,999994412360,06/01/2019,9,351,351,09/2048,19740,0,0
1632132,999994825330,07/01/2018,1,359,359,06/2048,43780,0,0
1632133,999994825330,08/01/2018,2,358,357,06/2048,43780,0,0
1632134,999994825330,09/01/2018,3,357,356,06/2048,43780,0,0
1632135,999994825330,10/01/2018,4,356,354,06/2048,43780,0,0
1632136,999994825330,11/01/2018,5,355,353,06/2048,43780,0,0
1632137,999994825330,12/01/2018,6,354,352,06/2048,43780,0,0
1632138,999994825330,01/01/2019,7,353,351,06/2048,43780,0,0
1632139,999994825330,02/01/2019,8,352,350,06/2048,43780,0,0
1632140,999994825330,03/01/2019,9,351,349,06/2048,43780,0,0
1632141,999994825330,04/01/2019,10,350,348,06/2048,43780,0,0
1632142,999994825330,05/01/2019,11,349,347,06/2048,43780,0,0
1632143,999994825330,06/01/2019,12,348,346,06/2048,43780,0,0

In [20]:
per_data.apply(lambda x: x.isnull().sum, axis=0)

LoanIdentifier                    <bound method Series.sum of 0          False\n...
MonthlyReportingPeriod            <bound method Series.sum of 0          False\n...
LoanAge                           <bound method Series.sum of 0          False\n...
RemainingMonthstoMaturity         <bound method Series.sum of 0          False\n...
AdjustedMonthstoMaturity          <bound method Series.sum of 0          False\n...
MaturityDate                      <bound method Series.sum of 0          False\n...
MetropolitanStatisticalAreaMSA    <bound method Series.sum of 0          False\n...
CurrentLoanDelinquencyStatus      <bound method Series.sum of 0          False\n...
ForeclosureDate                   <bound method Series.sum of 0          False\n...
dtype: object

# Save Year DF

In [21]:
# per_data.to_csv(r'Per_Data2015.txt', header=False, index=False, sep='|')
# per_data.to_csv(r'Per_Data2016.txt', header=False, index=False, sep='|')
# per_data.to_csv(r'Per_Data2017.txt', header=False, index=False, sep='|')
per_data.to_csv(r'Per_Data2018.txt', header=False, index=False, sep='|')