# Mortgage Performace

In [1]:
import numpy as np
import pandas as pd

In [2]:
per_colms= ["LoanIdentifier","MonthlyReportingPeriod","LoanAge","RemainingMonthstoMaturity","AdjustedMonthstoMaturity",
            "MaturityDate", "MetropolitanStatisticalAreaMSA","CurrentLoanDelinquencyStatus",
            "ForeclosureDate"];

In [3]:
#Read Files
data2015= pd.read_csv('Per_Data2015.txt', sep="|", header=None, names=per_colms)
data2016= pd.read_csv('Per_Data2016.txt', sep="|", header=None, names=per_colms)
data2017= pd.read_csv('Per_Data2017.txt', sep="|", header=None, names=per_colms)
data2018= pd.read_csv('Per_Data2018.txt', sep="|", header=None, names=per_colms)

In [4]:
#Concat Files
per_data= pd.concat([data2015, data2016, data2017, data2018])

In [5]:
#Check out DF
per_data

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
0,100004457300,01/01/2015,1,359,359,12/2044,12060,0,0
1,100004457300,02/01/2015,2,358,357,12/2044,12060,0,0
2,100004457300,03/01/2015,3,357,356,12/2044,12060,0,0
3,100004457300,04/01/2015,4,356,355,12/2044,12060,0,0
4,100004457300,05/01/2015,5,355,354,12/2044,12060,0,0
5,100004457300,06/01/2015,6,354,353,12/2044,12060,0,0
6,100004457300,07/01/2015,7,353,352,12/2044,12060,0,0
7,100004457300,08/01/2015,8,352,351,12/2044,12060,0,0
8,100004457300,09/01/2015,9,351,350,12/2044,12060,0,0
9,100004457300,10/01/2015,10,350,349,12/2044,12060,0,0
10,100004457300,11/01/2015,11,349,348,12/2044,12060,0,0
11,100004457300,12/01/2015,12,348,347,12/2044,12060,0,0
12,100004457300,01/01/2016,13,347,346,12/2044,12060,0,0
13,100004457300,02/01/2016,14,346,345,12/2044,12060,0,0
14,100004457300,03/01/2016,15,345,344,12/2044,12060,0,0
15,100004457300,04/01/2016,16,344,342,12/2044,12060,0,0
16,100004457300,05/01/2016,17,343,341,12/2044,12060,0,0
17,100004457300,06/01/2016,18,342,340,12/2044,12060,0,0
18,100004457300,07/01/2016,19,341,339,12/2044,12060,0,0
19,100004457300,08/01/2016,20,340,337,12/2044,12060,0,0
20,100004457300,09/01/2016,21,339,336,12/2044,12060,0,0
21,100004457300,10/01/2016,22,338,335,12/2044,12060,0,0
22,100004457300,11/01/2016,23,337,333,12/2044,12060,0,0
23,100004457300,12/01/2016,24,336,332,12/2044,12060,0,0
24,100004457300,01/01/2017,25,335,330,12/2044,12060,0,0
25,100004457300,02/01/2017,26,334,329,12/2044,12060,0,0
26,100004457300,03/01/2017,27,333,328,12/2044,12060,0,0
27,100004457300,04/01/2017,28,332,326,12/2044,12060,0,0
28,100004457300,05/01/2017,29,331,325,12/2044,12060,0,0
29,100004457300,06/01/2017,30,330,323,12/2044,12060,0,0
...,...,...,...,...,...,...,...,...,...
4685885,999993109200,11/01/2018,4,356,355,07/2048,38300,0,0
4685886,999993109200,12/01/2018,5,355,354,07/2048,38300,0,0
4685887,999993109200,01/01/2019,6,354,353,07/2048,38300,0,0
4685888,999993109200,02/01/2019,7,353,352,07/2048,38300,0,0
4685889,999993109200,03/01/2019,8,352,351,07/2048,38300,0,0
4685890,999993109200,04/01/2019,9,351,350,07/2048,38300,0,0
4685891,999993109200,05/01/2019,10,350,345,07/2048,38300,0,0
4685892,999993109200,06/01/2019,11,349,344,07/2048,38300,0,0
4685893,999994412360,09/01/2018,0,360,360,09/2048,19740,0,0
4685894,999994412360,10/01/2018,1,359,359,09/2048,19740,0,0
4685895,999994412360,11/01/2018,2,358,358,09/2048,19740,0,0
4685896,999994412360,12/01/2018,3,357,356,09/2048,19740,0,0
4685897,999994412360,01/01/2019,4,356,356,09/2048,19740,0,0
4685898,999994412360,02/01/2019,5,355,355,09/2048,19740,0,0
4685899,999994412360,03/01/2019,6,354,354,09/2048,19740,0,0
4685900,999994412360,04/01/2019,7,353,353,09/2048,19740,0,0
4685901,999994412360,05/01/2019,8,352,352,09/2048,19740,0,0
4685902,999994412360,06/01/2019,9,351,351,09/2048,19740,0,0
4685903,999994825330,07/01/2018,1,359,359,06/2048,43780,0,0
4685904,999994825330,08/01/2018,2,358,357,06/2048,43780,0,0
4685905,999994825330,09/01/2018,3,357,356,06/2048,43780,0,0
4685906,999994825330,10/01/2018,4,356,354,06/2048,43780,0,0
4685907,999994825330,11/01/2018,5,355,353,06/2048,43780,0,0
4685908,999994825330,12/01/2018,6,354,352,06/2048,43780,0,0
4685909,999994825330,01/01/2019,7,353,351,06/2048,43780,0,0
4685910,999994825330,02/01/2019,8,352,350,06/2048,43780,0,0
4685911,999994825330,03/01/2019,9,351,349,06/2048,43780,0,0
4685912,999994825330,04/01/2019,10,350,348,06/2048,43780,0,0
4685913,999994825330,05/01/2019,11,349,347,06/2048,43780,0,0
4685914,999994825330,06/01/2019,12,348,346,06/2048,43780,0,0

In [6]:
#Check Number of Foreclosures
per_data[per_data.ForeclosureDate==1]

,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
9646,102419798276,05/01/2018,38,322,0,03/2045,37860,D,1
13360,103422436137,04/01/2019,50,310,0,02/2045,32820,D,1
36106,109204553328,04/01/2019,49,311,0,03/2045,37980,D,1
38792,109785982886,01/01/2017,21,339,0,04/2045,38060,D,1
40577,110243508762,10/01/2017,33,327,0,01/2045,0,D,1
51659,112826292653,03/01/2018,37,323,0,02/2045,35380,D,1
83644,120766811006,12/01/2015,9,351,0,03/2045,19460,D,1
90971,122631958306,11/01/2017,34,326,0,01/2045,35380,D,1
132955,132866376416,06/01/2017,27,333,0,03/2045,45300,D,1
159330,139321636606,12/01/2016,23,337,0,01/2045,40140,D,1
174992,143252732455,07/01/2018,42,454,0,05/2056,12220,D,1
198958,148986291457,05/01/2017,28,332,0,01/2045,0,D,1
229325,156471056226,01/01/2018,35,145,0,02/2030,0,D,1
230971,156956267292,01/01/2016,12,348,0,01/2045,33740,D,1
245791,160461321343,03/01/2017,26,334,0,01/2045,19820,D,1
250083,161351381632,01/01/2018,38,322,0,11/2044,21660,D,1
296819,173679236451,06/01/2017,29,331,0,01/2045,37900,D,1
330990,181921292024,10/01/2018,45,315,0,01/2045,22220,D,1
333830,182698219784,08/01/2018,43,317,0,01/2045,29420,D,1
343916,185408396773,10/01/2016,20,340,0,02/2045,35620,D,1
346874,186229564826,01/01/2019,48,461,0,06/2057,30780,D,1
368519,191535582592,01/01/2017,25,335,0,12/2044,0,D,1
369123,191649448752,10/01/2016,19,341,0,03/2045,13020,D,1
397320,198245342539,11/01/2016,22,338,0,01/2045,0,D,1
455772,212468751540,09/01/2017,32,148,0,01/2030,0,D,1
470361,215949038274,11/01/2018,46,314,0,01/2045,38300,D,1
470728,216062476558,06/01/2017,30,330,0,12/2044,47900,D,1
475674,217467088205,10/01/2018,40,320,0,03/2045,36420,D,1
482312,219385021537,03/01/2019,50,310,0,01/2045,16980,D,1
485717,220299050982,09/01/2017,33,327,0,12/2044,35300,D,1
...,...,...,...,...,...,...,...,...,...
11707995,956707335105,04/01/2019,18,342,0,10/2047,21820,D,1
11776738,982004973109,04/01/2019,18,342,0,10/2047,41180,D,1
11818107,996967690678,05/01/2019,20,340,0,09/2047,26900,D,1
25410,113708792510,05/01/2019,18,342,0,11/2047,17460,D,1
110765,159787643799,12/01/2018,9,351,0,03/2048,31540,D,1
287872,254387135910,04/01/2019,13,347,0,03/2048,0,D,1
591509,414799369545,06/01/2019,16,344,0,02/2048,0,D,1
691872,468595848438,06/01/2019,17,343,0,01/2048,25620,D,1
801067,527056047566,10/01/2018,6,354,0,04/2048,40340,D,1
854615,556161147665,03/01/2019,15,345,0,12/2047,33740,D,1
878173,568762030230,06/01/2019,17,343,0,01/2048,23060,D,1
1171133,727403930211,05/01/2019,14,346,0,03/2048,22020,D,1
1248243,768455311804,01/01/2019,12,348,0,01/2048,27100,D,1
1291322,791158299730,05/01/2019,14,346,0,03/2048,40900,D,1
1359237,826742751896,05/01/2019,14,346,0,03/2048,16940,D,1
1370771,833073205396,07/01/2018,7,173,0,12/2032,43340,D,1
1432112,865963521548,01/01/2019,12,348,0,01/2048,0,D,1
1542309,924915721949,04/01/2019,15,345,0,01/2048,26420,D,1
1695680,108502298074,06/01/2019,16,344,0,02/2048,17980,D,1
1710893,118760416808,01/01/2019,8,172,0,05/2033,0,D,1
1718272,123893085380,05/01/2019,12,348,0,05/2048,0,D,1
1798670,176000924664,03/01/2019,9,351,0,06/2048,0,D,1
2330253,526903628184,06/01/2019,14,346,0,04/2048,0,D,1
2382670,561976082705,03/01/2019,10,350,0,05/2048,15180,D,1
2472057,620441500628,06/01/2019,14,346,0,04/2048,17140,D,1
2546523,669096477508,03/01/2019,11,349,0,04/2048,26900,D,1
2587347,695005022785,04/01/2019,10,350,0,06/2048,20260,D,1
2748390,800693484442,02/01/2019,10,350,0,04/2048,21340,D,1
2779233,820266026615,05/01/2019,11,349,0,06/2048,0,D,1
2962256,939689645379,04/01/2019,11,349,0,05/2048,0,D,1

In [7]:
#Generate an Index for the Database
per_dataID=per_data.reset_index()
per_ID=per_dataID.rename(columns={'index':'ID'})
per_ID

,ID,LoanIdentifier,MonthlyReportingPeriod,LoanAge,RemainingMonthstoMaturity,AdjustedMonthstoMaturity,MaturityDate,MetropolitanStatisticalAreaMSA,CurrentLoanDelinquencyStatus,ForeclosureDate
0,0,100004457300,01/01/2015,1,359,359,12/2044,12060,0,0
1,1,100004457300,02/01/2015,2,358,357,12/2044,12060,0,0
2,2,100004457300,03/01/2015,3,357,356,12/2044,12060,0,0
3,3,100004457300,04/01/2015,4,356,355,12/2044,12060,0,0
4,4,100004457300,05/01/2015,5,355,354,12/2044,12060,0,0
5,5,100004457300,06/01/2015,6,354,353,12/2044,12060,0,0
6,6,100004457300,07/01/2015,7,353,352,12/2044,12060,0,0
7,7,100004457300,08/01/2015,8,352,351,12/2044,12060,0,0
8,8,100004457300,09/01/2015,9,351,350,12/2044,12060,0,0
9,9,100004457300,10/01/2015,10,350,349,12/2044,12060,0,0
10,10,100004457300,11/01/2015,11,349,348,12/2044,12060,0,0
11,11,100004457300,12/01/2015,12,348,347,12/2044,12060,0,0
12,12,100004457300,01/01/2016,13,347,346,12/2044,12060,0,0
13,13,100004457300,02/01/2016,14,346,345,12/2044,12060,0,0
14,14,100004457300,03/01/2016,15,345,344,12/2044,12060,0,0
15,15,100004457300,04/01/2016,16,344,342,12/2044,12060,0,0
16,16,100004457300,05/01/2016,17,343,341,12/2044,12060,0,0
17,17,100004457300,06/01/2016,18,342,340,12/2044,12060,0,0
18,18,100004457300,07/01/2016,19,341,339,12/2044,12060,0,0
19,19,100004457300,08/01/2016,20,340,337,12/2044,12060,0,0
20,20,100004457300,09/01/2016,21,339,336,12/2044,12060,0,0
21,21,100004457300,10/01/2016,22,338,335,12/2044,12060,0,0
22,22,100004457300,11/01/2016,23,337,333,12/2044,12060,0,0
23,23,100004457300,12/01/2016,24,336,332,12/2044,12060,0,0
24,24,100004457300,01/01/2017,25,335,330,12/2044,12060,0,0
25,25,100004457300,02/01/2017,26,334,329,12/2044,12060,0,0
26,26,100004457300,03/01/2017,27,333,328,12/2044,12060,0,0
27,27,100004457300,04/01/2017,28,332,326,12/2044,12060,0,0
28,28,100004457300,05/01/2017,29,331,325,12/2044,12060,0,0
29,29,100004457300,06/01/2017,30,330,323,12/2044,12060,0,0
...,...,...,...,...,...,...,...,...,...,...
50826808,4685885,999993109200,11/01/2018,4,356,355,07/2048,38300,0,0
50826809,4685886,999993109200,12/01/2018,5,355,354,07/2048,38300,0,0
50826810,4685887,999993109200,01/01/2019,6,354,353,07/2048,38300,0,0
50826811,4685888,999993109200,02/01/2019,7,353,352,07/2048,38300,0,0
50826812,4685889,999993109200,03/01/2019,8,352,351,07/2048,38300,0,0
50826813,4685890,999993109200,04/01/2019,9,351,350,07/2048,38300,0,0
50826814,4685891,999993109200,05/01/2019,10,350,345,07/2048,38300,0,0
50826815,4685892,999993109200,06/01/2019,11,349,344,07/2048,38300,0,0
50826816,4685893,999994412360,09/01/2018,0,360,360,09/2048,19740,0,0
50826817,4685894,999994412360,10/01/2018,1,359,359,09/2048,19740,0,0
50826818,4685895,999994412360,11/01/2018,2,358,358,09/2048,19740,0,0
50826819,4685896,999994412360,12/01/2018,3,357,356,09/2048,19740,0,0
50826820,4685897,999994412360,01/01/2019,4,356,356,09/2048,19740,0,0
50826821,4685898,999994412360,02/01/2019,5,355,355,09/2048,19740,0,0
50826822,4685899,999994412360,03/01/2019,6,354,354,09/2048,19740,0,0
50826823,4685900,999994412360,04/01/2019,7,353,353,09/2048,19740,0,0
50826824,4685901,999994412360,05/01/2019,8,352,352,09/2048,19740,0,0
50826825,4685902,999994412360,06/01/2019,9,351,351,09/2048,19740,0,0
50826826,4685903,999994825330,07/01/2018,1,359,359,06/2048,43780,0,0
50826827,4685904,999994825330,08/01/2018,2,358,357,06/2048,43780,0,0
50826828,4685905,999994825330,09/01/2018,3,357,356,06/2048,43780,0,0
50826829,4685906,999994825330,10/01/2018,4,356,354,06/2048,43780,0,0
50826830,4685907,999994825330,11/01/2018,5,355,353,06/2048,43780,0,0
50826831,4685908,999994825330,12/01/2018,6,354,352,06/2048,43780,0,0
50826832,4685909,999994825330,01/01/2019,7,353,351,06/2048,43780,0,0
50826833,4685910,999994825330,02/01/2019,8,352,350,06/2048,43780,0,0
50826834,4685911,999994825330,03/01/2019,9,351,349,06/2048,43780,0,0
50826835,4685912,999994825330,04/01/2019,10,350,348,06/2048,43780,0,0
50826836,4685913,999994825330,05/01/2019,11,349,347,06/2048,43780,0,0
50826837,4685914,999994825330,06/01/2019,12,348,346,06/2048,43780,0,0

# Combined DF

In [9]:
per_ID.to_csv(r'all_Per_Data.txt', header=False, index=False, sep='|')